server:
  port: 8081

spring:
  application:
    name: Concierge
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate.format_sql: true
  security:
    oauth2:
      authorization-server:
        issuer-uri: ${ISSUER_URI}
app:
  security:
    key-store-path: ${KEYSTORE_PATH}
    key-store-password: ${KEYSTORE_PASSWORD}
    key-alias: ${KEY_ALIAS}
    key-password: ${KEY_PASSWORD}